
.header .container {
    @include flexCenter ();
    }
    .header {
    border: 1px solid #ECECEC;
    position: relative;
    }
    
    .nav {
    @include flexCenter ();
    }
    
    .logo {
    font-family: $fontLogo;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    }
    
    .logo-web {
    color: #2196F3; 
    }
    

    .logo-studio {
    color: #000000;
    
    }